<nav class="navbar  bg-body-tertiary" style="background-image: url('https://i.pinimg.com/564x/16/f5/33/16f533be82bbc108034ba91d183ab91d.jpg'); background-size: cover; background-position: center;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 35px;">
      <img src="https://i.pinimg.com/564x/82/be/f1/82bef166b4834cfa9d1dd52e9e081315.jpg" alt="Logo" width="90" height="80" class="d-inline-block align-text-top">
      KinderLand School
    </a>


    <!-- <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->

    
  </div>
</nav>