<div class="container">
    <div class="row">
        <div class="col-6 border rounded shadow ">
            <!-- image -->
            <img src="https://i.pinimg.com/736x/fa/c3/d9/fac3d957ecd9bcb6c6bbdcecbf8cbc74.jpg" alt="" width="100%" height="500px">
        </div>
        <div class="col-6">
            <!-- details -->
            <p class="border rounded shadow p-5 m-5 " style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo accusamus facilis repellendus sunt consequuntur cumque 
                porro accusantium doloribus. Distinctio, iste atque? Consequatur facere eius, consequuntur ad odit iusto incidunt veritatis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque recusandae 
                incidunt consequuntur fuga nesciunt! Omnis obcaecati dolore amet nostrum optio 
                itaque impedit nam ex, fuga illum tempore commodi aliquam sapiente.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique repellat enim esse nam sed modi soluta! Repudiandae dolor, commodi debitis,
                 quasi minima assumenda atque totam, error eius suscipit repellat. Ab.
               
                 
                 
            </p>


            <div class="text-center">
                <!-- <button class="btn btn-primary" routerLink="/details">Student Login</button>

                <span style="margin: 0 10px;"></span> -->
                <button class="btn btn-primary" routerLink="studentdetails">Student Register</button>
            </div>
            

        
            
        </div>
    </div>
</div>