<div class="row">
    <div class="col-4">
<!-- form -->
        <form class="border rounded shadow p-5 m-5">

            <div class="col">
                <!-- <input  name="" type="text" class="form-control" placeholder="Employee Id"> -->
                <label for="" class="col-sm-2 col-form-label">Name</label>
            
           </div>

           <div class="col">
            <!-- <input  name="" type="text" class="form-control" placeholder="Employee Id"> -->
            <label for="" class="col-sm-2 col-form-label">Address</label>
        
            </div>

            <div class="col">
                <!-- <input  name="" type="text" class="form-control" placeholder="Employee Id"> -->
                <label for="" class="col-sm-2 col-form-label">Email</label>
            
           </div>

           <div class="col">
            <!-- <input  name="" type="text" class="form-control" placeholder="Employee Id"> -->
            <label for="" class="col-sm-2 col-form-label">Phone</label>
        
       </div>

       <div class="col">
        <!-- <input  name="" type="text" class="form-control" placeholder="Employee Id"> -->
        <label for="" class="col-sm-2 col-form-label">District</label>
    
   </div>

        </form>
        
    </div>
